* {
    box-sizing: border-box;
   
}

body{
    background-color: #3fa592;
}

/* For Display Greater than 992px */
@media (min-width: 992px) {

    .col-lg-4 {
        float:left;
        width: 33.33%;
    }

   
}

/* For Display Between 768 and 991 */
@media (min-width: 768px) and (max-width: 991px) {
   
    .col-md-6 {
        float: left;
        width: 50%;

    }

    .col-md-12 {
        float: left;
        width: 100%;
    }
}

/* For Display Less than 767px */
@media (max-width: 767px) {

    
    .col-sm-12 {
        float: left;
        width: 100%;
    }

}

/* Style for Heading(Our Menu) */
.head {
    
    display: block;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    font-family: 'Lobster', cursive;
    
}

.heading {
    letter-spacing: 4px;
    display: block;
    margin: auto;
    width: fit-content;
    

}

.heading:hover{
    transition: 1s;
    letter-spacing: 10px;
}

.outer-Box {
    border: 3px solid black;
    height: auto;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.outer-Box:hover{
    border-color: rgb(63, 63, 63) ;
    
}

.inner-box{
    background-color:#bbbbbb;
    border-width: 0px 0px 2px 2px;
    border-color: black;
    border-style: solid;
    float: right;
    width: 30%;
    text-align: center;

}

h2{
    display: inline;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    
}

.outer-Box :nth-child(2){
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

p{
    font-family: 'Dancing Script', cursive;
    font-size: larger;
}

p:hover{
    transition-duration: 90ms;
    font-size: x-large;
}

#box1{
    background-color: #F78154;
}

#box1:hover{
    transition-duration: 1s;
    background-color: #f56a33;
}

#box2{
    background-color:#5FAD56 ;
}

#box2:hover{
    transition-duration: 1s;
    background-color:#3eb331 ;
}

#box3{
    background-color: #F2C14E;
}

#box3:hover{
    transition-duration: 1s;
    background-color: #d49d1a;
}
